{% extends 'blog/base.html' %}
{% block content %}



<div class="row">
{% for post in posts %}

   <div class ="col s12 m6 l4">
         <div>
    
          <div class="card small z-depth-4">
            <div class="card-image">
              <img src="{{ post.image.url}}" alt="connect" > 
               <span class="card-title">{{post.type_of_item}}</span>
            </div>
            <div class="card-content">
              <p>Quantity : {{post.quantity}}</p>
            </div>
            <div class="card-action" >
               <a href ="{% url 'market_detail' post.pk %}" class=" secondary-content btn">Order Now</a>
            </div>
          </div>
    </div>
    </div>
 
{% endfor %}
</div>

  <!--paginator-->
  <div class="center">
         {% if posts.has_other_pages %}
  <ul class="pagination">
    {% if posts.has_previous %}
      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>



{% endblock content %}
